In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Xichang,27.90,102.26,50.81,68,99,4.52,CN,2020-11-01 23:28:27
1,1,Guider,9.93,13.95,79.61,28,11,6.29,CM,2020-11-01 23:28:28
2,2,Khatanga,71.97,102.50,5.32,95,99,6.17,RU,2020-11-01 23:28:28
3,3,Manoel Urbano,-8.84,-69.26,79.30,63,71,0.85,BR,2020-11-01 23:28:28
4,4,Atuona,-9.80,-139.03,77.47,79,68,15.12,PF,2020-11-01 23:28:28

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Guider,9.93,13.95,79.61,28,11,6.29,CM,2020-11-01 23:28:28
3,3,Manoel Urbano,-8.84,-69.26,79.30,63,71,0.85,BR,2020-11-01 23:28:28
4,4,Atuona,-9.80,-139.03,77.47,79,68,15.12,PF,2020-11-01 23:28:28
6,6,Vila Do Maio,15.13,-23.22,77.00,69,20,6.93,CV,2020-11-01 23:28:29
7,7,Muisne,0.60,-80.03,75.52,86,58,10.09,EC,2020-11-01 23:23:32
13,13,Gorontalo,0.54,123.06,79.39,72,100,4.79,ID,2020-11-01 23:28:30
17,17,Butaritari,3.07,172.79,81.97,76,23,10.76,KI,2020-11-01 23:28:31
19,19,Touros,-5.20,-35.46,78.80,83,40,10.29,BR,2020-11-01 23:28:32
23,23,Bathsheba,13.22,-59.52,82.40,78,75,23.04,BB,2020-11-01 23:28:33
24,24,Diffa,13.32,12.61,77.88,28,88,9.73,NE,2020-11-01 23:28:34

In [11]:
preferred_cities_df.count()

City_ID       175
City          175
Lat           175
Lng           175
Max Temp      175
Humidity      175
Cloudiness    175
Wind Speed    175
Country       174
Date          175
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
1          Guider      CM     79.61   9.93   13.95
3   Manoel Urbano      BR     79.30  -8.84  -69.26
4          Atuona      PF     77.47  -9.80 -139.03
6    Vila Do Maio      CV     77.00  15.13  -23.22
7          Muisne      EC     75.52   0.60  -80.03
13      Gorontalo      ID     79.39   0.54  123.06
17     Butaritari      KI     81.97   3.07  172.79
19         Touros      BR     78.80  -5.20  -35.46
23      Bathsheba      BB     82.40  13.22  -59.52
24          Diffa      NE     77.88  13.32   12.61

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [16]:
hotel_df

              City Country  Max Temp    Lat     Lng             Hotel Name
1           Guider      CM     79.61   9.93   13.95          Hotel Falaise
3    Manoel Urbano      BR     79.30  -8.84  -69.26      Baixada Beira Rio
4           Atuona      PF     77.47  -9.80 -139.03            Villa Enata
6     Vila Do Maio      CV     77.00  15.13  -23.22  Residence 'I Delfini'
7           Muisne      EC     75.52   0.60  -80.03           Quinta Samay
..             ...     ...       ...    ...     ...                    ...
550    Finschhafen      PG     85.89  -6.60  147.87
554     Porto Novo      BJ     79.23   6.50    2.60
555         Rawson      AR     78.98 -43.30  -65.10
557    Maine-Soroa      NE     77.59  13.21   12.02
558      Sassandra      CI     76.73   4.95   -6.08            la terrasse

[175 rows x 6 columns]

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [22]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))