## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Description,Hotel Name
0,0,Hilo,US,80.60,19.73,-155.09,overcast clouds,Hilo Hawaiian Hotel
1,5,Vaini,TO,78.80,-21.20,-175.20,few clouds,Keleti Beach Resort
2,10,Kavieng,PG,83.16,-2.57,150.80,scattered clouds,Nusa Island Retreat
3,14,Isangel,VU,80.89,-19.55,169.27,clear sky,Volcano Sea View Tree House
4,18,Arraial Do Cabo,BR,75.20,-22.97,-42.03,broken clouds,Pousada Porto Praia

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start_df = vacation_df.loc[vacation_df["City"] == "Ojinaga"].reset_index()
vacation_end_df = vacation_df.loc[vacation_df["City"] == "Ojinaga"].reset_index()
vacation_stop1_df = vacation_df.loc[vacation_df["City"] == "Del Rio"].reset_index()
vacation_stop2_df = vacation_df.loc[vacation_df["City"] == "San Patricio"].reset_index()
vacation_stop3_df = vacation_df.loc[vacation_df["City"] == "Houston"].reset_index()

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start_tuple = (vacation_start_df["Lat"][0], vacation_start_df["Lng"][0])

end_tuple = (vacation_end_df["Lat"][0], vacation_end_df["Lng"][0])

stop1_tuple = (vacation_stop1_df["Lat"][0], vacation_stop1_df["Lng"][0])

stop2_tuple = (vacation_stop2_df["Lat"][0], vacation_stop2_df["Lng"][0])

stop3_tuple = (vacation_stop3_df["Lat"][0], vacation_stop3_df["Lng"][0])

print(start_tuple)
print(end_tuple)
print(stop1_tuple)
print(stop2_tuple)
print(stop3_tuple)

(29.57, -104.42)
(29.57, -104.42)
(29.36, -100.9)
(28.02, -97.52)
(29.76, -95.36)

In [7]:
location = [start_tuple, end_tuple, stop1_tuple, stop2_tuple, stop3_tuple]

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_itn_layer = gmaps.directions_layer(start=start_tuple,end=end_tuple, waypoints=[stop1_tuple, stop2_tuple, stop3_tuple])
fig.add_layer(vacation_itn_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start_df, vacation_stop1_df, vacation_stop2_df, vacation_stop3_df, vacation_end_df],ignore_index=True)
itinerary_df

,index,City_ID,City,Country,Max Temp,Lat,Lng,Description,Hotel Name
0,49,200,Ojinaga,MX,82.40,29.57,-104.42,clear sky,Suites Las Palmas
1,192,658,Del Rio,US,80.60,29.36,-100.90,broken clouds,Holiday Inn Express & Suites del Rio
2,29,133,San Patricio,US,82.40,28.02,-97.52,few clouds,"Motel 6 Sinton, TX"
3,83,301,Houston,US,82.99,29.76,-95.36,clear sky,"Hotel ICON, Autograph Collection"
4,49,200,Ojinaga,MX,82.40,29.57,-104.42,clear sky,Suites Las Palmas

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

#10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [11]:
len(hotel_info)

5

In [12]:
locations

     Lat     Lng
0  29.57 -104.42
1  29.36 -100.90
2  28.02  -97.52
3  29.76  -95.36
4  29.57 -104.42

In [13]:
# 11a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))